:root {
	--splash-000: rgb(0, 0, 0);
	--splash-001: rgb(0, 0, 28.34);
	--splash-002: rgb(0, 0, 56.68);
	--splash-003: rgb(0, 0, 85.02);
	--splash-004: rgb(0, 0, 113.36);
	--splash-005: rgb(0, 0, 141.7);
	--splash-006: rgb(0, 0, 170.04);
	--splash-007: rgb(0, 0, 198.38);
	--splash-008: rgb(0, 0, 226.72);
	--splash-009: rgb(0, 0, 255);
	--splash-010: rgb(0, 28.34, 0);
	--splash-011: rgb(0, 28.34, 28.34);
	--splash-012: rgb(0, 28.34, 56.68);
	--splash-013: rgb(0, 28.34, 85.02);
	--splash-014: rgb(0, 28.34, 113.36);
	--splash-015: rgb(0, 28.34, 141.7);
	--splash-016: rgb(0, 28.34, 170.04);
	--splash-017: rgb(0, 28.34, 198.38);
	--splash-018: rgb(0, 28.34, 226.72);
	--splash-019: rgb(0, 28.34, 255);
	--splash-020: rgb(0, 56.68, 0);
	--splash-021: rgb(0, 56.68, 28.34);
	--splash-022: rgb(0, 56.68, 56.68);
	--splash-023: rgb(0, 56.68, 85.02);
	--splash-024: rgb(0, 56.68, 113.36);
	--splash-025: rgb(0, 56.68, 141.7);
	--splash-026: rgb(0, 56.68, 170.04);
	--splash-027: rgb(0, 56.68, 198.38);
	--splash-028: rgb(0, 56.68, 226.72);
	--splash-029: rgb(0, 56.68, 255);
	--splash-030: rgb(0, 85.02, 0);
	--splash-031: rgb(0, 85.02, 28.34);
	--splash-032: rgb(0, 85.02, 56.68);
	--splash-033: rgb(0, 85.02, 85.02);
	--splash-034: rgb(0, 85.02, 113.36);
	--splash-035: rgb(0, 85.02, 141.7);
	--splash-036: rgb(0, 85.02, 170.04);
	--splash-037: rgb(0, 85.02, 198.38);
	--splash-038: rgb(0, 85.02, 226.72);
	--splash-039: rgb(0, 85.02, 255);
	--splash-040: rgb(0, 113.36, 0);
	--splash-041: rgb(0, 113.36, 28.34);
	--splash-042: rgb(0, 113.36, 56.68);
	--splash-043: rgb(0, 113.36, 85.02);
	--splash-044: rgb(0, 113.36, 113.36);
	--splash-045: rgb(0, 113.36, 141.7);
	--splash-046: rgb(0, 113.36, 170.04);
	--splash-047: rgb(0, 113.36, 198.38);
	--splash-048: rgb(0, 113.36, 226.72);
	--splash-049: rgb(0, 113.36, 255);
	--splash-050: rgb(0, 141.7, 0);
	--splash-051: rgb(0, 141.7, 28.34);
	--splash-052: rgb(0, 141.7, 56.68);
	--splash-053: rgb(0, 141.7, 85.02);
	--splash-054: rgb(0, 141.7, 113.36);
	--splash-055: rgb(0, 141.7, 141.7);
	--splash-056: rgb(0, 141.7, 170.04);
	--splash-057: rgb(0, 141.7, 198.38);
	--splash-058: rgb(0, 141.7, 226.72);
	--splash-059: rgb(0, 141.7, 255);
	--splash-060: rgb(0, 170.04, 0);
	--splash-061: rgb(0, 170.04, 28.34);
	--splash-062: rgb(0, 170.04, 56.68);
	--splash-063: rgb(0, 170.04, 85.02);
	--splash-064: rgb(0, 170.04, 113.36);
	--splash-065: rgb(0, 170.04, 141.7);
	--splash-066: rgb(0, 170.04, 170.04);
	--splash-067: rgb(0, 170.04, 198.38);
	--splash-068: rgb(0, 170.04, 226.72);
	--splash-069: rgb(0, 170.04, 255);
	--splash-070: rgb(0, 198.38, 0);
	--splash-071: rgb(0, 198.38, 28.34);
	--splash-072: rgb(0, 198.38, 56.68);
	--splash-073: rgb(0, 198.38, 85.02);
	--splash-074: rgb(0, 198.38, 113.36);
	--splash-075: rgb(0, 198.38, 141.7);
	--splash-076: rgb(0, 198.38, 170.04);
	--splash-077: rgb(0, 198.38, 198.38);
	--splash-078: rgb(0, 198.38, 226.72);
	--splash-079: rgb(0, 198.38, 255);
	--splash-080: rgb(0, 226.72, 0);
	--splash-081: rgb(0, 226.72, 28.34);
	--splash-082: rgb(0, 226.72, 56.68);
	--splash-083: rgb(0, 226.72, 85.02);
	--splash-084: rgb(0, 226.72, 113.36);
	--splash-085: rgb(0, 226.72, 141.7);
	--splash-086: rgb(0, 226.72, 170.04);
	--splash-087: rgb(0, 226.72, 198.38);
	--splash-088: rgb(0, 226.72, 226.72);
	--splash-089: rgb(0, 226.72, 255);
	--splash-090: rgb(0, 255, 0);
	--splash-091: rgb(0, 255, 28.34);
	--splash-092: rgb(0, 255, 56.68);
	--splash-093: rgb(0, 255, 85.02);
	--splash-094: rgb(0, 255, 113.36);
	--splash-095: rgb(0, 255, 141.7);
	--splash-096: rgb(0, 255, 170.04);
	--splash-097: rgb(0, 255, 198.38);
	--splash-098: rgb(0, 255, 226.72);
	--splash-099: rgb(0, 255, 255);
	--splash-100: rgb(28.34, 0, 0);
	--splash-101: rgb(28.34, 0, 28.34);
	--splash-102: rgb(28.34, 0, 56.68);
	--splash-103: rgb(28.34, 0, 85.02);
	--splash-104: rgb(28.34, 0, 113.36);
	--splash-105: rgb(28.34, 0, 141.7);
	--splash-106: rgb(28.34, 0, 170.04);
	--splash-107: rgb(28.34, 0, 198.38);
	--splash-108: rgb(28.34, 0, 226.72);
	--splash-109: rgb(28.34, 0, 255);
	--splash-110: rgb(28.34, 28.34, 0);
	--splash-111: rgb(28.34, 28.34, 28.34);
	--splash-112: rgb(28.34, 28.34, 56.68);
	--splash-113: rgb(28.34, 28.34, 85.02);
	--splash-114: rgb(28.34, 28.34, 113.36);
	--splash-115: rgb(28.34, 28.34, 141.7);
	--splash-116: rgb(28.34, 28.34, 170.04);
	--splash-117: rgb(28.34, 28.34, 198.38);
	--splash-118: rgb(28.34, 28.34, 226.72);
	--splash-119: rgb(28.34, 28.34, 255);
	--splash-120: rgb(28.34, 56.68, 0);
	--splash-121: rgb(28.34, 56.68, 28.34);
	--splash-122: rgb(28.34, 56.68, 56.68);
	--splash-123: rgb(28.34, 56.68, 85.02);
	--splash-124: rgb(28.34, 56.68, 113.36);
	--splash-125: rgb(28.34, 56.68, 141.7);
	--splash-126: rgb(28.34, 56.68, 170.04);
	--splash-127: rgb(28.34, 56.68, 198.38);
	--splash-128: rgb(28.34, 56.68, 226.72);
	--splash-129: rgb(28.34, 56.68, 255);
	--splash-130: rgb(28.34, 85.02, 0);
	--splash-131: rgb(28.34, 85.02, 28.34);
	--splash-132: rgb(28.34, 85.02, 56.68);
	--splash-133: rgb(28.34, 85.02, 85.02);
	--splash-134: rgb(28.34, 85.02, 113.36);
	--splash-135: rgb(28.34, 85.02, 141.7);
	--splash-136: rgb(28.34, 85.02, 170.04);
	--splash-137: rgb(28.34, 85.02, 198.38);
	--splash-138: rgb(28.34, 85.02, 226.72);
	--splash-139: rgb(28.34, 85.02, 255);
	--splash-140: rgb(28.34, 113.36, 0);
	--splash-141: rgb(28.34, 113.36, 28.34);
	--splash-142: rgb(28.34, 113.36, 56.68);
	--splash-143: rgb(28.34, 113.36, 85.02);
	--splash-144: rgb(28.34, 113.36, 113.36);
	--splash-145: rgb(28.34, 113.36, 141.7);
	--splash-146: rgb(28.34, 113.36, 170.04);
	--splash-147: rgb(28.34, 113.36, 198.38);
	--splash-148: rgb(28.34, 113.36, 226.72);
	--splash-149: rgb(28.34, 113.36, 255);
	--splash-150: rgb(28.34, 141.7, 0);
	--splash-151: rgb(28.34, 141.7, 28.34);
	--splash-152: rgb(28.34, 141.7, 56.68);
	--splash-153: rgb(28.34, 141.7, 85.02);
	--splash-154: rgb(28.34, 141.7, 113.36);
	--splash-155: rgb(28.34, 141.7, 141.7);
	--splash-156: rgb(28.34, 141.7, 170.04);
	--splash-157: rgb(28.34, 141.7, 198.38);
	--splash-158: rgb(28.34, 141.7, 226.72);
	--splash-159: rgb(28.34, 141.7, 255);
	--splash-160: rgb(28.34, 170.04, 0);
	--splash-161: rgb(28.34, 170.04, 28.34);
	--splash-162: rgb(28.34, 170.04, 56.68);
	--splash-163: rgb(28.34, 170.04, 85.02);
	--splash-164: rgb(28.34, 170.04, 113.36);
	--splash-165: rgb(28.34, 170.04, 141.7);
	--splash-166: rgb(28.34, 170.04, 170.04);
	--splash-167: rgb(28.34, 170.04, 198.38);
	--splash-168: rgb(28.34, 170.04, 226.72);
	--splash-169: rgb(28.34, 170.04, 255);
	--splash-170: rgb(28.34, 198.38, 0);
	--splash-171: rgb(28.34, 198.38, 28.34);
	--splash-172: rgb(28.34, 198.38, 56.68);
	--splash-173: rgb(28.34, 198.38, 85.02);
	--splash-174: rgb(28.34, 198.38, 113.36);
	--splash-175: rgb(28.34, 198.38, 141.7);
	--splash-176: rgb(28.34, 198.38, 170.04);
	--splash-177: rgb(28.34, 198.38, 198.38);
	--splash-178: rgb(28.34, 198.38, 226.72);
	--splash-179: rgb(28.34, 198.38, 255);
	--splash-180: rgb(28.34, 226.72, 0);
	--splash-181: rgb(28.34, 226.72, 28.34);
	--splash-182: rgb(28.34, 226.72, 56.68);
	--splash-183: rgb(28.34, 226.72, 85.02);
	--splash-184: rgb(28.34, 226.72, 113.36);
	--splash-185: rgb(28.34, 226.72, 141.7);
	--splash-186: rgb(28.34, 226.72, 170.04);
	--splash-187: rgb(28.34, 226.72, 198.38);
	--splash-188: rgb(28.34, 226.72, 226.72);
	--splash-189: rgb(28.34, 226.72, 255);
	--splash-190: rgb(28.34, 255, 0);
	--splash-191: rgb(28.34, 255, 28.34);
	--splash-192: rgb(28.34, 255, 56.68);
	--splash-193: rgb(28.34, 255, 85.02);
	--splash-194: rgb(28.34, 255, 113.36);
	--splash-195: rgb(28.34, 255, 141.7);
	--splash-196: rgb(28.34, 255, 170.04);
	--splash-197: rgb(28.34, 255, 198.38);
	--splash-198: rgb(28.34, 255, 226.72);
	--splash-199: rgb(28.34, 255, 255);
	--splash-200: rgb(56.68, 0, 0);
	--splash-201: rgb(56.68, 0, 28.34);
	--splash-202: rgb(56.68, 0, 56.68);
	--splash-203: rgb(56.68, 0, 85.02);
	--splash-204: rgb(56.68, 0, 113.36);
	--splash-205: rgb(56.68, 0, 141.7);
	--splash-206: rgb(56.68, 0, 170.04);
	--splash-207: rgb(56.68, 0, 198.38);
	--splash-208: rgb(56.68, 0, 226.72);
	--splash-209: rgb(56.68, 0, 255);
	--splash-210: rgb(56.68, 28.34, 0);
	--splash-211: rgb(56.68, 28.34, 28.34);
	--splash-212: rgb(56.68, 28.34, 56.68);
	--splash-213: rgb(56.68, 28.34, 85.02);
	--splash-214: rgb(56.68, 28.34, 113.36);
	--splash-215: rgb(56.68, 28.34, 141.7);
	--splash-216: rgb(56.68, 28.34, 170.04);
	--splash-217: rgb(56.68, 28.34, 198.38);
	--splash-218: rgb(56.68, 28.34, 226.72);
	--splash-219: rgb(56.68, 28.34, 255);
	--splash-220: rgb(56.68, 56.68, 0);
	--splash-221: rgb(56.68, 56.68, 28.34);
	--splash-222: rgb(56.68, 56.68, 56.68);
	--splash-223: rgb(56.68, 56.68, 85.02);
	--splash-224: rgb(56.68, 56.68, 113.36);
	--splash-225: rgb(56.68, 56.68, 141.7);
	--splash-226: rgb(56.68, 56.68, 170.04);
	--splash-227: rgb(56.68, 56.68, 198.38);
	--splash-228: rgb(56.68, 56.68, 226.72);
	--splash-229: rgb(56.68, 56.68, 255);
	--splash-230: rgb(56.68, 85.02, 0);
	--splash-231: rgb(56.68, 85.02, 28.34);
	--splash-232: rgb(56.68, 85.02, 56.68);
	--splash-233: rgb(56.68, 85.02, 85.02);
	--splash-234: rgb(56.68, 85.02, 113.36);
	--splash-235: rgb(56.68, 85.02, 141.7);
	--splash-236: rgb(56.68, 85.02, 170.04);
	--splash-237: rgb(56.68, 85.02, 198.38);
	--splash-238: rgb(56.68, 85.02, 226.72);
	--splash-239: rgb(56.68, 85.02, 255);
	--splash-240: rgb(56.68, 113.36, 0);
	--splash-241: rgb(56.68, 113.36, 28.34);
	--splash-242: rgb(56.68, 113.36, 56.68);
	--splash-243: rgb(56.68, 113.36, 85.02);
	--splash-244: rgb(56.68, 113.36, 113.36);
	--splash-245: rgb(56.68, 113.36, 141.7);
	--splash-246: rgb(56.68, 113.36, 170.04);
	--splash-247: rgb(56.68, 113.36, 198.38);
	--splash-248: rgb(56.68, 113.36, 226.72);
	--splash-249: rgb(56.68, 113.36, 255);
	--splash-250: rgb(56.68, 141.7, 0);
	--splash-251: rgb(56.68, 141.7, 28.34);
	--splash-252: rgb(56.68, 141.7, 56.68);
	--splash-253: rgb(56.68, 141.7, 85.02);
	--splash-254: rgb(56.68, 141.7, 113.36);
	--splash-255: rgb(56.68, 141.7, 141.7);
	--splash-256: rgb(56.68, 141.7, 170.04);
	--splash-257: rgb(56.68, 141.7, 198.38);
	--splash-258: rgb(56.68, 141.7, 226.72);
	--splash-259: rgb(56.68, 141.7, 255);
	--splash-260: rgb(56.68, 170.04, 0);
	--splash-261: rgb(56.68, 170.04, 28.34);
	--splash-262: rgb(56.68, 170.04, 56.68);
	--splash-263: rgb(56.68, 170.04, 85.02);
	--splash-264: rgb(56.68, 170.04, 113.36);
	--splash-265: rgb(56.68, 170.04, 141.7);
	--splash-266: rgb(56.68, 170.04, 170.04);
	--splash-267: rgb(56.68, 170.04, 198.38);
	--splash-268: rgb(56.68, 170.04, 226.72);
	--splash-269: rgb(56.68, 170.04, 255);
	--splash-270: rgb(56.68, 198.38, 0);
	--splash-271: rgb(56.68, 198.38, 28.34);
	--splash-272: rgb(56.68, 198.38, 56.68);
	--splash-273: rgb(56.68, 198.38, 85.02);
	--splash-274: rgb(56.68, 198.38, 113.36);
	--splash-275: rgb(56.68, 198.38, 141.7);
	--splash-276: rgb(56.68, 198.38, 170.04);
	--splash-277: rgb(56.68, 198.38, 198.38);
	--splash-278: rgb(56.68, 198.38, 226.72);
	--splash-279: rgb(56.68, 198.38, 255);
	--splash-280: rgb(56.68, 226.72, 0);
	--splash-281: rgb(56.68, 226.72, 28.34);
	--splash-282: rgb(56.68, 226.72, 56.68);
	--splash-283: rgb(56.68, 226.72, 85.02);
	--splash-284: rgb(56.68, 226.72, 113.36);
	--splash-285: rgb(56.68, 226.72, 141.7);
	--splash-286: rgb(56.68, 226.72, 170.04);
	--splash-287: rgb(56.68, 226.72, 198.38);
	--splash-288: rgb(56.68, 226.72, 226.72);
	--splash-289: rgb(56.68, 226.72, 255);
	--splash-290: rgb(56.68, 255, 0);
	--splash-291: rgb(56.68, 255, 28.34);
	--splash-292: rgb(56.68, 255, 56.68);
	--splash-293: rgb(56.68, 255, 85.02);
	--splash-294: rgb(56.68, 255, 113.36);
	--splash-295: rgb(56.68, 255, 141.7);
	--splash-296: rgb(56.68, 255, 170.04);
	--splash-297: rgb(56.68, 255, 198.38);
	--splash-298: rgb(56.68, 255, 226.72);
	--splash-299: rgb(56.68, 255, 255);
	--splash-300: rgb(85.02, 0, 0);
	--splash-301: rgb(85.02, 0, 28.34);
	--splash-302: rgb(85.02, 0, 56.68);
	--splash-303: rgb(85.02, 0, 85.02);
	--splash-304: rgb(85.02, 0, 113.36);
	--splash-305: rgb(85.02, 0, 141.7);
	--splash-306: rgb(85.02, 0, 170.04);
	--splash-307: rgb(85.02, 0, 198.38);
	--splash-308: rgb(85.02, 0, 226.72);
	--splash-309: rgb(85.02, 0, 255);
	--splash-310: rgb(85.02, 28.34, 0);
	--splash-311: rgb(85.02, 28.34, 28.34);
	--splash-312: rgb(85.02, 28.34, 56.68);
	--splash-313: rgb(85.02, 28.34, 85.02);
	--splash-314: rgb(85.02, 28.34, 113.36);
	--splash-315: rgb(85.02, 28.34, 141.7);
	--splash-316: rgb(85.02, 28.34, 170.04);
	--splash-317: rgb(85.02, 28.34, 198.38);
	--splash-318: rgb(85.02, 28.34, 226.72);
	--splash-319: rgb(85.02, 28.34, 255);
	--splash-320: rgb(85.02, 56.68, 0);
	--splash-321: rgb(85.02, 56.68, 28.34);
	--splash-322: rgb(85.02, 56.68, 56.68);
	--splash-323: rgb(85.02, 56.68, 85.02);
	--splash-324: rgb(85.02, 56.68, 113.36);
	--splash-325: rgb(85.02, 56.68, 141.7);
	--splash-326: rgb(85.02, 56.68, 170.04);
	--splash-327: rgb(85.02, 56.68, 198.38);
	--splash-328: rgb(85.02, 56.68, 226.72);
	--splash-329: rgb(85.02, 56.68, 255);
	--splash-330: rgb(85.02, 85.02, 0);
	--splash-331: rgb(85.02, 85.02, 28.34);
	--splash-332: rgb(85.02, 85.02, 56.68);
	--splash-333: rgb(85.02, 85.02, 85.02);
	--splash-334: rgb(85.02, 85.02, 113.36);
	--splash-335: rgb(85.02, 85.02, 141.7);
	--splash-336: rgb(85.02, 85.02, 170.04);
	--splash-337: rgb(85.02, 85.02, 198.38);
	--splash-338: rgb(85.02, 85.02, 226.72);
	--splash-339: rgb(85.02, 85.02, 255);
	--splash-340: rgb(85.02, 113.36, 0);
	--splash-341: rgb(85.02, 113.36, 28.34);
	--splash-342: rgb(85.02, 113.36, 56.68);
	--splash-343: rgb(85.02, 113.36, 85.02);
	--splash-344: rgb(85.02, 113.36, 113.36);
	--splash-345: rgb(85.02, 113.36, 141.7);
	--splash-346: rgb(85.02, 113.36, 170.04);
	--splash-347: rgb(85.02, 113.36, 198.38);
	--splash-348: rgb(85.02, 113.36, 226.72);
	--splash-349: rgb(85.02, 113.36, 255);
	--splash-350: rgb(85.02, 141.7, 0);
	--splash-351: rgb(85.02, 141.7, 28.34);
	--splash-352: rgb(85.02, 141.7, 56.68);
	--splash-353: rgb(85.02, 141.7, 85.02);
	--splash-354: rgb(85.02, 141.7, 113.36);
	--splash-355: rgb(85.02, 141.7, 141.7);
	--splash-356: rgb(85.02, 141.7, 170.04);
	--splash-357: rgb(85.02, 141.7, 198.38);
	--splash-358: rgb(85.02, 141.7, 226.72);
	--splash-359: rgb(85.02, 141.7, 255);
	--splash-360: rgb(85.02, 170.04, 0);
	--splash-361: rgb(85.02, 170.04, 28.34);
	--splash-362: rgb(85.02, 170.04, 56.68);
	--splash-363: rgb(85.02, 170.04, 85.02);
	--splash-364: rgb(85.02, 170.04, 113.36);
	--splash-365: rgb(85.02, 170.04, 141.7);
	--splash-366: rgb(85.02, 170.04, 170.04);
	--splash-367: rgb(85.02, 170.04, 198.38);
	--splash-368: rgb(85.02, 170.04, 226.72);
	--splash-369: rgb(85.02, 170.04, 255);
	--splash-370: rgb(85.02, 198.38, 0);
	--splash-371: rgb(85.02, 198.38, 28.34);
	--splash-372: rgb(85.02, 198.38, 56.68);
	--splash-373: rgb(85.02, 198.38, 85.02);
	--splash-374: rgb(85.02, 198.38, 113.36);
	--splash-375: rgb(85.02, 198.38, 141.7);
	--splash-376: rgb(85.02, 198.38, 170.04);
	--splash-377: rgb(85.02, 198.38, 198.38);
	--splash-378: rgb(85.02, 198.38, 226.72);
	--splash-379: rgb(85.02, 198.38, 255);
	--splash-380: rgb(85.02, 226.72, 0);
	--splash-381: rgb(85.02, 226.72, 28.34);
	--splash-382: rgb(85.02, 226.72, 56.68);
	--splash-383: rgb(85.02, 226.72, 85.02);
	--splash-384: rgb(85.02, 226.72, 113.36);
	--splash-385: rgb(85.02, 226.72, 141.7);
	--splash-386: rgb(85.02, 226.72, 170.04);
	--splash-387: rgb(85.02, 226.72, 198.38);
	--splash-388: rgb(85.02, 226.72, 226.72);
	--splash-389: rgb(85.02, 226.72, 255);
	--splash-390: rgb(85.02, 255, 0);
	--splash-391: rgb(85.02, 255, 28.34);
	--splash-392: rgb(85.02, 255, 56.68);
	--splash-393: rgb(85.02, 255, 85.02);
	--splash-394: rgb(85.02, 255, 113.36);
	--splash-395: rgb(85.02, 255, 141.7);
	--splash-396: rgb(85.02, 255, 170.04);
	--splash-397: rgb(85.02, 255, 198.38);
	--splash-398: rgb(85.02, 255, 226.72);
	--splash-399: rgb(85.02, 255, 255);
	--splash-400: rgb(113.36, 0, 0);
	--splash-401: rgb(113.36, 0, 28.34);
	--splash-402: rgb(113.36, 0, 56.68);
	--splash-403: rgb(113.36, 0, 85.02);
	--splash-404: rgb(113.36, 0, 113.36);
	--splash-405: rgb(113.36, 0, 141.7);
	--splash-406: rgb(113.36, 0, 170.04);
	--splash-407: rgb(113.36, 0, 198.38);
	--splash-408: rgb(113.36, 0, 226.72);
	--splash-409: rgb(113.36, 0, 255);
	--splash-410: rgb(113.36, 28.34, 0);
	--splash-411: rgb(113.36, 28.34, 28.34);
	--splash-412: rgb(113.36, 28.34, 56.68);
	--splash-413: rgb(113.36, 28.34, 85.02);
	--splash-414: rgb(113.36, 28.34, 113.36);
	--splash-415: rgb(113.36, 28.34, 141.7);
	--splash-416: rgb(113.36, 28.34, 170.04);
	--splash-417: rgb(113.36, 28.34, 198.38);
	--splash-418: rgb(113.36, 28.34, 226.72);
	--splash-419: rgb(113.36, 28.34, 255);
	--splash-420: rgb(113.36, 56.68, 0);
	--splash-421: rgb(113.36, 56.68, 28.34);
	--splash-422: rgb(113.36, 56.68, 56.68);
	--splash-423: rgb(113.36, 56.68, 85.02);
	--splash-424: rgb(113.36, 56.68, 113.36);
	--splash-425: rgb(113.36, 56.68, 141.7);
	--splash-426: rgb(113.36, 56.68, 170.04);
	--splash-427: rgb(113.36, 56.68, 198.38);
	--splash-428: rgb(113.36, 56.68, 226.72);
	--splash-429: rgb(113.36, 56.68, 255);
	--splash-430: rgb(113.36, 85.02, 0);
	--splash-431: rgb(113.36, 85.02, 28.34);
	--splash-432: rgb(113.36, 85.02, 56.68);
	--splash-433: rgb(113.36, 85.02, 85.02);
	--splash-434: rgb(113.36, 85.02, 113.36);
	--splash-435: rgb(113.36, 85.02, 141.7);
	--splash-436: rgb(113.36, 85.02, 170.04);
	--splash-437: rgb(113.36, 85.02, 198.38);
	--splash-438: rgb(113.36, 85.02, 226.72);
	--splash-439: rgb(113.36, 85.02, 255);
	--splash-440: rgb(113.36, 113.36, 0);
	--splash-441: rgb(113.36, 113.36, 28.34);
	--splash-442: rgb(113.36, 113.36, 56.68);
	--splash-443: rgb(113.36, 113.36, 85.02);
	--splash-444: rgb(113.36, 113.36, 113.36);
	--splash-445: rgb(113.36, 113.36, 141.7);
	--splash-446: rgb(113.36, 113.36, 170.04);
	--splash-447: rgb(113.36, 113.36, 198.38);
	--splash-448: rgb(113.36, 113.36, 226.72);
	--splash-449: rgb(113.36, 113.36, 255);
	--splash-450: rgb(113.36, 141.7, 0);
	--splash-451: rgb(113.36, 141.7, 28.34);
	--splash-452: rgb(113.36, 141.7, 56.68);
	--splash-453: rgb(113.36, 141.7, 85.02);
	--splash-454: rgb(113.36, 141.7, 113.36);
	--splash-455: rgb(113.36, 141.7, 141.7);
	--splash-456: rgb(113.36, 141.7, 170.04);
	--splash-457: rgb(113.36, 141.7, 198.38);
	--splash-458: rgb(113.36, 141.7, 226.72);
	--splash-459: rgb(113.36, 141.7, 255);
	--splash-460: rgb(113.36, 170.04, 0);
	--splash-461: rgb(113.36, 170.04, 28.34);
	--splash-462: rgb(113.36, 170.04, 56.68);
	--splash-463: rgb(113.36, 170.04, 85.02);
	--splash-464: rgb(113.36, 170.04, 113.36);
	--splash-465: rgb(113.36, 170.04, 141.7);
	--splash-466: rgb(113.36, 170.04, 170.04);
	--splash-467: rgb(113.36, 170.04, 198.38);
	--splash-468: rgb(113.36, 170.04, 226.72);
	--splash-469: rgb(113.36, 170.04, 255);
	--splash-470: rgb(113.36, 198.38, 0);
	--splash-471: rgb(113.36, 198.38, 28.34);
	--splash-472: rgb(113.36, 198.38, 56.68);
	--splash-473: rgb(113.36, 198.38, 85.02);
	--splash-474: rgb(113.36, 198.38, 113.36);
	--splash-475: rgb(113.36, 198.38, 141.7);
	--splash-476: rgb(113.36, 198.38, 170.04);
	--splash-477: rgb(113.36, 198.38, 198.38);
	--splash-478: rgb(113.36, 198.38, 226.72);
	--splash-479: rgb(113.36, 198.38, 255);
	--splash-480: rgb(113.36, 226.72, 0);
	--splash-481: rgb(113.36, 226.72, 28.34);
	--splash-482: rgb(113.36, 226.72, 56.68);
	--splash-483: rgb(113.36, 226.72, 85.02);
	--splash-484: rgb(113.36, 226.72, 113.36);
	--splash-485: rgb(113.36, 226.72, 141.7);
	--splash-486: rgb(113.36, 226.72, 170.04);
	--splash-487: rgb(113.36, 226.72, 198.38);
	--splash-488: rgb(113.36, 226.72, 226.72);
	--splash-489: rgb(113.36, 226.72, 255);
	--splash-490: rgb(113.36, 255, 0);
	--splash-491: rgb(113.36, 255, 28.34);
	--splash-492: rgb(113.36, 255, 56.68);
	--splash-493: rgb(113.36, 255, 85.02);
	--splash-494: rgb(113.36, 255, 113.36);
	--splash-495: rgb(113.36, 255, 141.7);
	--splash-496: rgb(113.36, 255, 170.04);
	--splash-497: rgb(113.36, 255, 198.38);
	--splash-498: rgb(113.36, 255, 226.72);
	--splash-499: rgb(113.36, 255, 255);
	--splash-500: rgb(141.7, 0, 0);
	--splash-501: rgb(141.7, 0, 28.34);
	--splash-502: rgb(141.7, 0, 56.68);
	--splash-503: rgb(141.7, 0, 85.02);
	--splash-504: rgb(141.7, 0, 113.36);
	--splash-505: rgb(141.7, 0, 141.7);
	--splash-506: rgb(141.7, 0, 170.04);
	--splash-507: rgb(141.7, 0, 198.38);
	--splash-508: rgb(141.7, 0, 226.72);
	--splash-509: rgb(141.7, 0, 255);
	--splash-510: rgb(141.7, 28.34, 0);
	--splash-511: rgb(141.7, 28.34, 28.34);
	--splash-512: rgb(141.7, 28.34, 56.68);
	--splash-513: rgb(141.7, 28.34, 85.02);
	--splash-514: rgb(141.7, 28.34, 113.36);
	--splash-515: rgb(141.7, 28.34, 141.7);
	--splash-516: rgb(141.7, 28.34, 170.04);
	--splash-517: rgb(141.7, 28.34, 198.38);
	--splash-518: rgb(141.7, 28.34, 226.72);
	--splash-519: rgb(141.7, 28.34, 255);
	--splash-520: rgb(141.7, 56.68, 0);
	--splash-521: rgb(141.7, 56.68, 28.34);
	--splash-522: rgb(141.7, 56.68, 56.68);
	--splash-523: rgb(141.7, 56.68, 85.02);
	--splash-524: rgb(141.7, 56.68, 113.36);
	--splash-525: rgb(141.7, 56.68, 141.7);
	--splash-526: rgb(141.7, 56.68, 170.04);
	--splash-527: rgb(141.7, 56.68, 198.38);
	--splash-528: rgb(141.7, 56.68, 226.72);
	--splash-529: rgb(141.7, 56.68, 255);
	--splash-530: rgb(141.7, 85.02, 0);
	--splash-531: rgb(141.7, 85.02, 28.34);
	--splash-532: rgb(141.7, 85.02, 56.68);
	--splash-533: rgb(141.7, 85.02, 85.02);
	--splash-534: rgb(141.7, 85.02, 113.36);
	--splash-535: rgb(141.7, 85.02, 141.7);
	--splash-536: rgb(141.7, 85.02, 170.04);
	--splash-537: rgb(141.7, 85.02, 198.38);
	--splash-538: rgb(141.7, 85.02, 226.72);
	--splash-539: rgb(141.7, 85.02, 255);
	--splash-540: rgb(141.7, 113.36, 0);
	--splash-541: rgb(141.7, 113.36, 28.34);
	--splash-542: rgb(141.7, 113.36, 56.68);
	--splash-543: rgb(141.7, 113.36, 85.02);
	--splash-544: rgb(141.7, 113.36, 113.36);
	--splash-545: rgb(141.7, 113.36, 141.7);
	--splash-546: rgb(141.7, 113.36, 170.04);
	--splash-547: rgb(141.7, 113.36, 198.38);
	--splash-548: rgb(141.7, 113.36, 226.72);
	--splash-549: rgb(141.7, 113.36, 255);
	--splash-550: rgb(141.7, 141.7, 0);
	--splash-551: rgb(141.7, 141.7, 28.34);
	--splash-552: rgb(141.7, 141.7, 56.68);
	--splash-553: rgb(141.7, 141.7, 85.02);
	--splash-554: rgb(141.7, 141.7, 113.36);
	--splash-555: rgb(141.7, 141.7, 141.7);
	--splash-556: rgb(141.7, 141.7, 170.04);
	--splash-557: rgb(141.7, 141.7, 198.38);
	--splash-558: rgb(141.7, 141.7, 226.72);
	--splash-559: rgb(141.7, 141.7, 255);
	--splash-560: rgb(141.7, 170.04, 0);
	--splash-561: rgb(141.7, 170.04, 28.34);
	--splash-562: rgb(141.7, 170.04, 56.68);
	--splash-563: rgb(141.7, 170.04, 85.02);
	--splash-564: rgb(141.7, 170.04, 113.36);
	--splash-565: rgb(141.7, 170.04, 141.7);
	--splash-566: rgb(141.7, 170.04, 170.04);
	--splash-567: rgb(141.7, 170.04, 198.38);
	--splash-568: rgb(141.7, 170.04, 226.72);
	--splash-569: rgb(141.7, 170.04, 255);
	--splash-570: rgb(141.7, 198.38, 0);
	--splash-571: rgb(141.7, 198.38, 28.34);
	--splash-572: rgb(141.7, 198.38, 56.68);
	--splash-573: rgb(141.7, 198.38, 85.02);
	--splash-574: rgb(141.7, 198.38, 113.36);
	--splash-575: rgb(141.7, 198.38, 141.7);
	--splash-576: rgb(141.7, 198.38, 170.04);
	--splash-577: rgb(141.7, 198.38, 198.38);
	--splash-578: rgb(141.7, 198.38, 226.72);
	--splash-579: rgb(141.7, 198.38, 255);
	--splash-580: rgb(141.7, 226.72, 0);
	--splash-581: rgb(141.7, 226.72, 28.34);
	--splash-582: rgb(141.7, 226.72, 56.68);
	--splash-583: rgb(141.7, 226.72, 85.02);
	--splash-584: rgb(141.7, 226.72, 113.36);
	--splash-585: rgb(141.7, 226.72, 141.7);
	--splash-586: rgb(141.7, 226.72, 170.04);
	--splash-587: rgb(141.7, 226.72, 198.38);
	--splash-588: rgb(141.7, 226.72, 226.72);
	--splash-589: rgb(141.7, 226.72, 255);
	--splash-590: rgb(141.7, 255, 0);
	--splash-591: rgb(141.7, 255, 28.34);
	--splash-592: rgb(141.7, 255, 56.68);
	--splash-593: rgb(141.7, 255, 85.02);
	--splash-594: rgb(141.7, 255, 113.36);
	--splash-595: rgb(141.7, 255, 141.7);
	--splash-596: rgb(141.7, 255, 170.04);
	--splash-597: rgb(141.7, 255, 198.38);
	--splash-598: rgb(141.7, 255, 226.72);
	--splash-599: rgb(141.7, 255, 255);
	--splash-600: rgb(170.04, 0, 0);
	--splash-601: rgb(170.04, 0, 28.34);
	--splash-602: rgb(170.04, 0, 56.68);
	--splash-603: rgb(170.04, 0, 85.02);
	--splash-604: rgb(170.04, 0, 113.36);
	--splash-605: rgb(170.04, 0, 141.7);
	--splash-606: rgb(170.04, 0, 170.04);
	--splash-607: rgb(170.04, 0, 198.38);
	--splash-608: rgb(170.04, 0, 226.72);
	--splash-609: rgb(170.04, 0, 255);
	--splash-610: rgb(170.04, 28.34, 0);
	--splash-611: rgb(170.04, 28.34, 28.34);
	--splash-612: rgb(170.04, 28.34, 56.68);
	--splash-613: rgb(170.04, 28.34, 85.02);
	--splash-614: rgb(170.04, 28.34, 113.36);
	--splash-615: rgb(170.04, 28.34, 141.7);
	--splash-616: rgb(170.04, 28.34, 170.04);
	--splash-617: rgb(170.04, 28.34, 198.38);
	--splash-618: rgb(170.04, 28.34, 226.72);
	--splash-619: rgb(170.04, 28.34, 255);
	--splash-620: rgb(170.04, 56.68, 0);
	--splash-621: rgb(170.04, 56.68, 28.34);
	--splash-622: rgb(170.04, 56.68, 56.68);
	--splash-623: rgb(170.04, 56.68, 85.02);
	--splash-624: rgb(170.04, 56.68, 113.36);
	--splash-625: rgb(170.04, 56.68, 141.7);
	--splash-626: rgb(170.04, 56.68, 170.04);
	--splash-627: rgb(170.04, 56.68, 198.38);
	--splash-628: rgb(170.04, 56.68, 226.72);
	--splash-629: rgb(170.04, 56.68, 255);
	--splash-630: rgb(170.04, 85.02, 0);
	--splash-631: rgb(170.04, 85.02, 28.34);
	--splash-632: rgb(170.04, 85.02, 56.68);
	--splash-633: rgb(170.04, 85.02, 85.02);
	--splash-634: rgb(170.04, 85.02, 113.36);
	--splash-635: rgb(170.04, 85.02, 141.7);
	--splash-636: rgb(170.04, 85.02, 170.04);
	--splash-637: rgb(170.04, 85.02, 198.38);
	--splash-638: rgb(170.04, 85.02, 226.72);
	--splash-639: rgb(170.04, 85.02, 255);
	--splash-640: rgb(170.04, 113.36, 0);
	--splash-641: rgb(170.04, 113.36, 28.34);
	--splash-642: rgb(170.04, 113.36, 56.68);
	--splash-643: rgb(170.04, 113.36, 85.02);
	--splash-644: rgb(170.04, 113.36, 113.36);
	--splash-645: rgb(170.04, 113.36, 141.7);
	--splash-646: rgb(170.04, 113.36, 170.04);
	--splash-647: rgb(170.04, 113.36, 198.38);
	--splash-648: rgb(170.04, 113.36, 226.72);
	--splash-649: rgb(170.04, 113.36, 255);
	--splash-650: rgb(170.04, 141.7, 0);
	--splash-651: rgb(170.04, 141.7, 28.34);
	--splash-652: rgb(170.04, 141.7, 56.68);
	--splash-653: rgb(170.04, 141.7, 85.02);
	--splash-654: rgb(170.04, 141.7, 113.36);
	--splash-655: rgb(170.04, 141.7, 141.7);
	--splash-656: rgb(170.04, 141.7, 170.04);
	--splash-657: rgb(170.04, 141.7, 198.38);
	--splash-658: rgb(170.04, 141.7, 226.72);
	--splash-659: rgb(170.04, 141.7, 255);
	--splash-660: rgb(170.04, 170.04, 0);
	--splash-661: rgb(170.04, 170.04, 28.34);
	--splash-662: rgb(170.04, 170.04, 56.68);
	--splash-663: rgb(170.04, 170.04, 85.02);
	--splash-664: rgb(170.04, 170.04, 113.36);
	--splash-665: rgb(170.04, 170.04, 141.7);
	--splash-666: rgb(170.04, 170.04, 170.04);
	--splash-667: rgb(170.04, 170.04, 198.38);
	--splash-668: rgb(170.04, 170.04, 226.72);
	--splash-669: rgb(170.04, 170.04, 255);
	--splash-670: rgb(170.04, 198.38, 0);
	--splash-671: rgb(170.04, 198.38, 28.34);
	--splash-672: rgb(170.04, 198.38, 56.68);
	--splash-673: rgb(170.04, 198.38, 85.02);
	--splash-674: rgb(170.04, 198.38, 113.36);
	--splash-675: rgb(170.04, 198.38, 141.7);
	--splash-676: rgb(170.04, 198.38, 170.04);
	--splash-677: rgb(170.04, 198.38, 198.38);
	--splash-678: rgb(170.04, 198.38, 226.72);
	--splash-679: rgb(170.04, 198.38, 255);
	--splash-680: rgb(170.04, 226.72, 0);
	--splash-681: rgb(170.04, 226.72, 28.34);
	--splash-682: rgb(170.04, 226.72, 56.68);
	--splash-683: rgb(170.04, 226.72, 85.02);
	--splash-684: rgb(170.04, 226.72, 113.36);
	--splash-685: rgb(170.04, 226.72, 141.7);
	--splash-686: rgb(170.04, 226.72, 170.04);
	--splash-687: rgb(170.04, 226.72, 198.38);
	--splash-688: rgb(170.04, 226.72, 226.72);
	--splash-689: rgb(170.04, 226.72, 255);
	--splash-690: rgb(170.04, 255, 0);
	--splash-691: rgb(170.04, 255, 28.34);
	--splash-692: rgb(170.04, 255, 56.68);
	--splash-693: rgb(170.04, 255, 85.02);
	--splash-694: rgb(170.04, 255, 113.36);
	--splash-695: rgb(170.04, 255, 141.7);
	--splash-696: rgb(170.04, 255, 170.04);
	--splash-697: rgb(170.04, 255, 198.38);
	--splash-698: rgb(170.04, 255, 226.72);
	--splash-699: rgb(170.04, 255, 255);
	--splash-700: rgb(198.38, 0, 0);
	--splash-701: rgb(198.38, 0, 28.34);
	--splash-702: rgb(198.38, 0, 56.68);
	--splash-703: rgb(198.38, 0, 85.02);
	--splash-704: rgb(198.38, 0, 113.36);
	--splash-705: rgb(198.38, 0, 141.7);
	--splash-706: rgb(198.38, 0, 170.04);
	--splash-707: rgb(198.38, 0, 198.38);
	--splash-708: rgb(198.38, 0, 226.72);
	--splash-709: rgb(198.38, 0, 255);
	--splash-710: rgb(198.38, 28.34, 0);
	--splash-711: rgb(198.38, 28.34, 28.34);
	--splash-712: rgb(198.38, 28.34, 56.68);
	--splash-713: rgb(198.38, 28.34, 85.02);
	--splash-714: rgb(198.38, 28.34, 113.36);
	--splash-715: rgb(198.38, 28.34, 141.7);
	--splash-716: rgb(198.38, 28.34, 170.04);
	--splash-717: rgb(198.38, 28.34, 198.38);
	--splash-718: rgb(198.38, 28.34, 226.72);
	--splash-719: rgb(198.38, 28.34, 255);
	--splash-720: rgb(198.38, 56.68, 0);
	--splash-721: rgb(198.38, 56.68, 28.34);
	--splash-722: rgb(198.38, 56.68, 56.68);
	--splash-723: rgb(198.38, 56.68, 85.02);
	--splash-724: rgb(198.38, 56.68, 113.36);
	--splash-725: rgb(198.38, 56.68, 141.7);
	--splash-726: rgb(198.38, 56.68, 170.04);
	--splash-727: rgb(198.38, 56.68, 198.38);
	--splash-728: rgb(198.38, 56.68, 226.72);
	--splash-729: rgb(198.38, 56.68, 255);
	--splash-730: rgb(198.38, 85.02, 0);
	--splash-731: rgb(198.38, 85.02, 28.34);
	--splash-732: rgb(198.38, 85.02, 56.68);
	--splash-733: rgb(198.38, 85.02, 85.02);
	--splash-734: rgb(198.38, 85.02, 113.36);
	--splash-735: rgb(198.38, 85.02, 141.7);
	--splash-736: rgb(198.38, 85.02, 170.04);
	--splash-737: rgb(198.38, 85.02, 198.38);
	--splash-738: rgb(198.38, 85.02, 226.72);
	--splash-739: rgb(198.38, 85.02, 255);
	--splash-740: rgb(198.38, 113.36, 0);
	--splash-741: rgb(198.38, 113.36, 28.34);
	--splash-742: rgb(198.38, 113.36, 56.68);
	--splash-743: rgb(198.38, 113.36, 85.02);
	--splash-744: rgb(198.38, 113.36, 113.36);
	--splash-745: rgb(198.38, 113.36, 141.7);
	--splash-746: rgb(198.38, 113.36, 170.04);
	--splash-747: rgb(198.38, 113.36, 198.38);
	--splash-748: rgb(198.38, 113.36, 226.72);
	--splash-749: rgb(198.38, 113.36, 255);
	--splash-750: rgb(198.38, 141.7, 0);
	--splash-751: rgb(198.38, 141.7, 28.34);
	--splash-752: rgb(198.38, 141.7, 56.68);
	--splash-753: rgb(198.38, 141.7, 85.02);
	--splash-754: rgb(198.38, 141.7, 113.36);
	--splash-755: rgb(198.38, 141.7, 141.7);
	--splash-756: rgb(198.38, 141.7, 170.04);
	--splash-757: rgb(198.38, 141.7, 198.38);
	--splash-758: rgb(198.38, 141.7, 226.72);
	--splash-759: rgb(198.38, 141.7, 255);
	--splash-760: rgb(198.38, 170.04, 0);
	--splash-761: rgb(198.38, 170.04, 28.34);
	--splash-762: rgb(198.38, 170.04, 56.68);
	--splash-763: rgb(198.38, 170.04, 85.02);
	--splash-764: rgb(198.38, 170.04, 113.36);
	--splash-765: rgb(198.38, 170.04, 141.7);
	--splash-766: rgb(198.38, 170.04, 170.04);
	--splash-767: rgb(198.38, 170.04, 198.38);
	--splash-768: rgb(198.38, 170.04, 226.72);
	--splash-769: rgb(198.38, 170.04, 255);
	--splash-770: rgb(198.38, 198.38, 0);
	--splash-771: rgb(198.38, 198.38, 28.34);
	--splash-772: rgb(198.38, 198.38, 56.68);
	--splash-773: rgb(198.38, 198.38, 85.02);
	--splash-774: rgb(198.38, 198.38, 113.36);
	--splash-775: rgb(198.38, 198.38, 141.7);
	--splash-776: rgb(198.38, 198.38, 170.04);
	--splash-777: rgb(198.38, 198.38, 198.38);
	--splash-778: rgb(198.38, 198.38, 226.72);
	--splash-779: rgb(198.38, 198.38, 255);
	--splash-780: rgb(198.38, 226.72, 0);
	--splash-781: rgb(198.38, 226.72, 28.34);
	--splash-782: rgb(198.38, 226.72, 56.68);
	--splash-783: rgb(198.38, 226.72, 85.02);
	--splash-784: rgb(198.38, 226.72, 113.36);
	--splash-785: rgb(198.38, 226.72, 141.7);
	--splash-786: rgb(198.38, 226.72, 170.04);
	--splash-787: rgb(198.38, 226.72, 198.38);
	--splash-788: rgb(198.38, 226.72, 226.72);
	--splash-789: rgb(198.38, 226.72, 255);
	--splash-790: rgb(198.38, 255, 0);
	--splash-791: rgb(198.38, 255, 28.34);
	--splash-792: rgb(198.38, 255, 56.68);
	--splash-793: rgb(198.38, 255, 85.02);
	--splash-794: rgb(198.38, 255, 113.36);
	--splash-795: rgb(198.38, 255, 141.7);
	--splash-796: rgb(198.38, 255, 170.04);
	--splash-797: rgb(198.38, 255, 198.38);
	--splash-798: rgb(198.38, 255, 226.72);
	--splash-799: rgb(198.38, 255, 255);
	--splash-800: rgb(226.72, 0, 0);
	--splash-801: rgb(226.72, 0, 28.34);
	--splash-802: rgb(226.72, 0, 56.68);
	--splash-803: rgb(226.72, 0, 85.02);
	--splash-804: rgb(226.72, 0, 113.36);
	--splash-805: rgb(226.72, 0, 141.7);
	--splash-806: rgb(226.72, 0, 170.04);
	--splash-807: rgb(226.72, 0, 198.38);
	--splash-808: rgb(226.72, 0, 226.72);
	--splash-809: rgb(226.72, 0, 255);
	--splash-810: rgb(226.72, 28.34, 0);
	--splash-811: rgb(226.72, 28.34, 28.34);
	--splash-812: rgb(226.72, 28.34, 56.68);
	--splash-813: rgb(226.72, 28.34, 85.02);
	--splash-814: rgb(226.72, 28.34, 113.36);
	--splash-815: rgb(226.72, 28.34, 141.7);
	--splash-816: rgb(226.72, 28.34, 170.04);
	--splash-817: rgb(226.72, 28.34, 198.38);
	--splash-818: rgb(226.72, 28.34, 226.72);
	--splash-819: rgb(226.72, 28.34, 255);
	--splash-820: rgb(226.72, 56.68, 0);
	--splash-821: rgb(226.72, 56.68, 28.34);
	--splash-822: rgb(226.72, 56.68, 56.68);
	--splash-823: rgb(226.72, 56.68, 85.02);
	--splash-824: rgb(226.72, 56.68, 113.36);
	--splash-825: rgb(226.72, 56.68, 141.7);
	--splash-826: rgb(226.72, 56.68, 170.04);
	--splash-827: rgb(226.72, 56.68, 198.38);
	--splash-828: rgb(226.72, 56.68, 226.72);
	--splash-829: rgb(226.72, 56.68, 255);
	--splash-830: rgb(226.72, 85.02, 0);
	--splash-831: rgb(226.72, 85.02, 28.34);
	--splash-832: rgb(226.72, 85.02, 56.68);
	--splash-833: rgb(226.72, 85.02, 85.02);
	--splash-834: rgb(226.72, 85.02, 113.36);
	--splash-835: rgb(226.72, 85.02, 141.7);
	--splash-836: rgb(226.72, 85.02, 170.04);
	--splash-837: rgb(226.72, 85.02, 198.38);
	--splash-838: rgb(226.72, 85.02, 226.72);
	--splash-839: rgb(226.72, 85.02, 255);
	--splash-840: rgb(226.72, 113.36, 0);
	--splash-841: rgb(226.72, 113.36, 28.34);
	--splash-842: rgb(226.72, 113.36, 56.68);
	--splash-843: rgb(226.72, 113.36, 85.02);
	--splash-844: rgb(226.72, 113.36, 113.36);
	--splash-845: rgb(226.72, 113.36, 141.7);
	--splash-846: rgb(226.72, 113.36, 170.04);
	--splash-847: rgb(226.72, 113.36, 198.38);
	--splash-848: rgb(226.72, 113.36, 226.72);
	--splash-849: rgb(226.72, 113.36, 255);
	--splash-850: rgb(226.72, 141.7, 0);
	--splash-851: rgb(226.72, 141.7, 28.34);
	--splash-852: rgb(226.72, 141.7, 56.68);
	--splash-853: rgb(226.72, 141.7, 85.02);
	--splash-854: rgb(226.72, 141.7, 113.36);
	--splash-855: rgb(226.72, 141.7, 141.7);
	--splash-856: rgb(226.72, 141.7, 170.04);
	--splash-857: rgb(226.72, 141.7, 198.38);
	--splash-858: rgb(226.72, 141.7, 226.72);
	--splash-859: rgb(226.72, 141.7, 255);
	--splash-860: rgb(226.72, 170.04, 0);
	--splash-861: rgb(226.72, 170.04, 28.34);
	--splash-862: rgb(226.72, 170.04, 56.68);
	--splash-863: rgb(226.72, 170.04, 85.02);
	--splash-864: rgb(226.72, 170.04, 113.36);
	--splash-865: rgb(226.72, 170.04, 141.7);
	--splash-866: rgb(226.72, 170.04, 170.04);
	--splash-867: rgb(226.72, 170.04, 198.38);
	--splash-868: rgb(226.72, 170.04, 226.72);
	--splash-869: rgb(226.72, 170.04, 255);
	--splash-870: rgb(226.72, 198.38, 0);
	--splash-871: rgb(226.72, 198.38, 28.34);
	--splash-872: rgb(226.72, 198.38, 56.68);
	--splash-873: rgb(226.72, 198.38, 85.02);
	--splash-874: rgb(226.72, 198.38, 113.36);
	--splash-875: rgb(226.72, 198.38, 141.7);
	--splash-876: rgb(226.72, 198.38, 170.04);
	--splash-877: rgb(226.72, 198.38, 198.38);
	--splash-878: rgb(226.72, 198.38, 226.72);
	--splash-879: rgb(226.72, 198.38, 255);
	--splash-880: rgb(226.72, 226.72, 0);
	--splash-881: rgb(226.72, 226.72, 28.34);
	--splash-882: rgb(226.72, 226.72, 56.68);
	--splash-883: rgb(226.72, 226.72, 85.02);
	--splash-884: rgb(226.72, 226.72, 113.36);
	--splash-885: rgb(226.72, 226.72, 141.7);
	--splash-886: rgb(226.72, 226.72, 170.04);
	--splash-887: rgb(226.72, 226.72, 198.38);
	--splash-888: rgb(226.72, 226.72, 226.72);
	--splash-889: rgb(226.72, 226.72, 255);
	--splash-890: rgb(226.72, 255, 0);
	--splash-891: rgb(226.72, 255, 28.34);
	--splash-892: rgb(226.72, 255, 56.68);
	--splash-893: rgb(226.72, 255, 85.02);
	--splash-894: rgb(226.72, 255, 113.36);
	--splash-895: rgb(226.72, 255, 141.7);
	--splash-896: rgb(226.72, 255, 170.04);
	--splash-897: rgb(226.72, 255, 198.38);
	--splash-898: rgb(226.72, 255, 226.72);
	--splash-899: rgb(226.72, 255, 255);
	--splash-900: rgb(255, 0, 0);
	--splash-901: rgb(255, 0, 28.34);
	--splash-902: rgb(255, 0, 56.68);
	--splash-903: rgb(255, 0, 85.02);
	--splash-904: rgb(255, 0, 113.36);
	--splash-905: rgb(255, 0, 141.7);
	--splash-906: rgb(255, 0, 170.04);
	--splash-907: rgb(255, 0, 198.38);
	--splash-908: rgb(255, 0, 226.72);
	--splash-909: rgb(255, 0, 255);
	--splash-910: rgb(255, 28.34, 0);
	--splash-911: rgb(255, 28.34, 28.34);
	--splash-912: rgb(255, 28.34, 56.68);
	--splash-913: rgb(255, 28.34, 85.02);
	--splash-914: rgb(255, 28.34, 113.36);
	--splash-915: rgb(255, 28.34, 141.7);
	--splash-916: rgb(255, 28.34, 170.04);
	--splash-917: rgb(255, 28.34, 198.38);
	--splash-918: rgb(255, 28.34, 226.72);
	--splash-919: rgb(255, 28.34, 255);
	--splash-920: rgb(255, 56.68, 0);
	--splash-921: rgb(255, 56.68, 28.34);
	--splash-922: rgb(255, 56.68, 56.68);
	--splash-923: rgb(255, 56.68, 85.02);
	--splash-924: rgb(255, 56.68, 113.36);
	--splash-925: rgb(255, 56.68, 141.7);
	--splash-926: rgb(255, 56.68, 170.04);
	--splash-927: rgb(255, 56.68, 198.38);
	--splash-928: rgb(255, 56.68, 226.72);
	--splash-929: rgb(255, 56.68, 255);
	--splash-930: rgb(255, 85.02, 0);
	--splash-931: rgb(255, 85.02, 28.34);
	--splash-932: rgb(255, 85.02, 56.68);
	--splash-933: rgb(255, 85.02, 85.02);
	--splash-934: rgb(255, 85.02, 113.36);
	--splash-935: rgb(255, 85.02, 141.7);
	--splash-936: rgb(255, 85.02, 170.04);
	--splash-937: rgb(255, 85.02, 198.38);
	--splash-938: rgb(255, 85.02, 226.72);
	--splash-939: rgb(255, 85.02, 255);
	--splash-940: rgb(255, 113.36, 0);
	--splash-941: rgb(255, 113.36, 28.34);
	--splash-942: rgb(255, 113.36, 56.68);
	--splash-943: rgb(255, 113.36, 85.02);
	--splash-944: rgb(255, 113.36, 113.36);
	--splash-945: rgb(255, 113.36, 141.7);
	--splash-946: rgb(255, 113.36, 170.04);
	--splash-947: rgb(255, 113.36, 198.38);
	--splash-948: rgb(255, 113.36, 226.72);
	--splash-949: rgb(255, 113.36, 255);
	--splash-950: rgb(255, 141.7, 0);
	--splash-951: rgb(255, 141.7, 28.34);
	--splash-952: rgb(255, 141.7, 56.68);
	--splash-953: rgb(255, 141.7, 85.02);
	--splash-954: rgb(255, 141.7, 113.36);
	--splash-955: rgb(255, 141.7, 141.7);
	--splash-956: rgb(255, 141.7, 170.04);
	--splash-957: rgb(255, 141.7, 198.38);
	--splash-958: rgb(255, 141.7, 226.72);
	--splash-959: rgb(255, 141.7, 255);
	--splash-960: rgb(255, 170.04, 0);
	--splash-961: rgb(255, 170.04, 28.34);
	--splash-962: rgb(255, 170.04, 56.68);
	--splash-963: rgb(255, 170.04, 85.02);
	--splash-964: rgb(255, 170.04, 113.36);
	--splash-965: rgb(255, 170.04, 141.7);
	--splash-966: rgb(255, 170.04, 170.04);
	--splash-967: rgb(255, 170.04, 198.38);
	--splash-968: rgb(255, 170.04, 226.72);
	--splash-969: rgb(255, 170.04, 255);
	--splash-970: rgb(255, 198.38, 0);
	--splash-971: rgb(255, 198.38, 28.34);
	--splash-972: rgb(255, 198.38, 56.68);
	--splash-973: rgb(255, 198.38, 85.02);
	--splash-974: rgb(255, 198.38, 113.36);
	--splash-975: rgb(255, 198.38, 141.7);
	--splash-976: rgb(255, 198.38, 170.04);
	--splash-977: rgb(255, 198.38, 198.38);
	--splash-978: rgb(255, 198.38, 226.72);
	--splash-979: rgb(255, 198.38, 255);
	--splash-980: rgb(255, 226.72, 0);
	--splash-981: rgb(255, 226.72, 28.34);
	--splash-982: rgb(255, 226.72, 56.68);
	--splash-983: rgb(255, 226.72, 85.02);
	--splash-984: rgb(255, 226.72, 113.36);
	--splash-985: rgb(255, 226.72, 141.7);
	--splash-986: rgb(255, 226.72, 170.04);
	--splash-987: rgb(255, 226.72, 198.38);
	--splash-988: rgb(255, 226.72, 226.72);
	--splash-989: rgb(255, 226.72, 255);
	--splash-990: rgb(255, 255, 0);
	--splash-991: rgb(255, 255, 28.34);
	--splash-992: rgb(255, 255, 56.68);
	--splash-993: rgb(255, 255, 85.02);
	--splash-994: rgb(255, 255, 113.36);
	--splash-995: rgb(255, 255, 141.7);
	--splash-996: rgb(255, 255, 170.04);
	--splash-997: rgb(255, 255, 198.38);
	--splash-998: rgb(255, 255, 226.72);
	--splash-999: rgb(255, 255, 255);
  }