@import url("https://fonts.cdnfonts.com/css/jetbrains-mono");

#status-UsrBinAnnika {
  transform: rotate(-0.5deg);
}

#user-Rosy {
  color: var(--red);
  font-family: "JetBrains Mono", sans-serif;
}

#user-TodePond {
  color: var(--green);
  /* display: flex;
  flex-direction: row; */
}

#user-TodePond::after {
  content: "ADMIN";
  border: 1px solid var(--green);
  padding: 1px 2px;
  margin: 4px;
  font-size: 10px;
  position: relative;
  top: -3px;
  font-weight: normal;
}

#user-PodeTond\ \💚 {
  background: linear-gradient(
    to right,
    #eaacb8 20%,
    #7acbf5 80%,
    var(--green) 80%,
    var(--green) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block; /* so it doesnt cut the heart */
  font-family: "JetBrains Mono", sans-serif;
}
