body {
  color: black;
  background-color: white;
  font-family: sans-serif;
  max-width: 750px;
  margin: 0 auto;
  padding: 30px 10px;
  font-size: 1.1em;
}

audio,
video {
  width: 100%;
}

a {
  color: #4680ff;
}

a:hover {
  color: #4680ff;
}

blockquote {
  color: black;
  margin: 0px;
  padding-left: 23px;
  border-left: 1px black solid;
}

hr {
  border-color: black;
}

h2 {
  border-bottom: black 1px solid;
  padding-bottom: 19px;
  padding-top: 19px;
}

img {
  max-width: 100%;
}

input[type="text"],
input[type="number"],
textarea {
  background-color: #374362;
  border: 1px solid #9faeee;
  color: white;
  padding: 5px;
  width: 100%;
  font-size: 1em;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #9faeee;
}

:focus {
  outline-color: 2px solid #4680ff;
  border-radius: 0%;
}

button {
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
}

button.danger {
  background-color: #ff4346;
  color: white;
}

button.primary {
  background-color: #4680ff;
  color: white;
}
