h1 {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0px;
  /* text-align: center; */
}

h2 {
  font-weight: 300;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

li {
  font-weight: 300;
}

a {
  text-decoration: none;
}

.timeline {
  display: flex;
  border-left: 2px solid white;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-top: 60px; */
}

.timeline header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0px;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
}

.timeline header button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--green);
  position: relative;
  left: -2px;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 0.9em;
  text-align: left;
  white-space: nowrap;
}

.timeline header button:hover {
  cursor: pointer;
  color: black;
  background-color: var(--green);
}

.timeline aside.social {
  position: absolute;
  right: 0;
  padding-right: 18px;
  font-weight: 300;
  font-size: 0.9em;
  display: flex;
  gap: 20px;
  top: 10px;
  max-width: 100%;
  flex-wrap: wrap;
}

.timeline aside.home {
  position: absolute;
  left: 0;
  padding-left: 18px;
  font-weight: 300;
  font-size: 0.9em;
  display: flex;
  gap: 20px;
  top: 10px;
}

@media (max-width: 600px) {
  .bigonly {
    display: none;
  }
}

@media (max-width: 1000px) {
  .timeline aside.home {
    display: none;
  }
}

.timeline-item {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.timeline-item h2 {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  margin-top: 0px;
}

.timeline-item h2::before {
  background-color: white;
  position: absolute;
  width: 10px;
  content: "";
  height: 10px;
  font-family: Arial;
  transform: translateX(-36px) translateY(10px);
}

ul > li {
  list-style: "→ ";
}

ul > li + li {
  margin-top: 5px;
}

img {
  aspect-ratio: 16 / 9;
  width: 100%;
}

img.ratio {
  aspect-ratio: attr(data-width) / attr(data-height);
}
