<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Todepond</title>
<style>
  body {
    color: white;
    background-color: rgb(31, 39, 54);
    font-family: sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 1.1em;
  }

  audio {
    width: 100%;
  }

  a {
    color: #46ff80;
  }

  a:hover {
    color: #4680ff;
  }

  blockquote {
    color: #9faeee;
    margin: 0px;
    padding-left: 23px;
    border-left: 1px #9faeee solid;
  }

  hr {
    border-color: white;
  }

  h2 {
    border-bottom: white 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  img {
    max-width: 100%;
  }
</style>

{{ content }}
